.dashboardContent {
    background: linear-gradient(217deg, rgba(61, 54, 63, 0.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(169, 12, 231, 0.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(74, 74, 236, 0.8), rgba(0,0,255,0) 70.71%) ; 
    height: 100%;
    width: 100%;
    backdrop-filter: blur(25px);


}